
<div class="container" style="padding-right:0; padding-left:0; padding-top:4px">
    <div class="row">
        <div class="col-10">
            <input type="text" id="ingredientToAdd" placeholder="Add new ingredient..." class="form-control" />
            <input hidden type="text" />
        </div>
        <div class="col-2">
            <button type="button" id="addIngredientFromInput" class="btn btn-primary" style="width: 73px">Add</button>
        </div>
    </div>
</div>

<script src="~/js/IngredientsInput.js"></script>