
<div class="container">
    <div class="row">
        <div class=" col-12">
            <div id="addIngredient"> </div>
        </div>
    </div>
    <p small></p>
    <div class="row">
        <div class="col-10">
            <input type="text" id="searching" placeholder="Search for ingredients..." class="form-control"/>
            <input hidden type="text" />
        </div>
        <div class="col-2">
            <button type="button" id="btnSearch" class="btn btn-primary">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <h5>Result:</h5>
            <div id="searchResult"> </div>
        </div>
        <div class="col-5">
            <h5>Added ingredients:</h5>
            <div id="addedIngredients"> </div>
        </div>
    </div>
</div>


<script src="~/js/SearchForIngredientsForRecipe.js"></script>