@model IEnumerable<DietBook.MVC.Models.Ingredient>
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>
        This website is non-comercial. It is made for learnig purpose.
    </p>
    <p>
        Website is an ASP.NET Core Web App, which is API client. It allows to perform CRUD operations on recipes and ingredients.
    </p>
    <p>
        Tech.: ASP.NET Core Web App, Entity Framework, AutoMapper, Azure App Service.
    </p>
    <p>
        Author: 
        <a href="mailto: dawid.kraszewski@gmail.com">dawid.kraszewski@gmail.com</a>
    </p>
</div>

